@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Prime React Tailwindcode */

@layer tailwind-base, primereact, tailwind-utilities;

/* IMPORTANT: In "styled" mode you must add the PrimeReact Theme here. Do NOT include in "unstyled" mode */
@import 'primereact/resources/themes/lara-light-blue/theme.css' layer(primereact);

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}
.sidebar-footer {
  position: absolute;
  bottom: 0px;
  left: 0;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: #ffffff;
  background: #44a04e;
}
.builder-element-wrapper .grid div h5 {
  padding-bottom: 20px;
}


.scroll-height-25 {

  height: calc(100vh - 25px);
  overflow: hidden;
  overflow-y: auto;

}

.scroll-height-50 {

  height: calc(100vh - 50px);
  overflow: hidden;
  overflow-y: auto;

}

.scroll-height-75 {

  height: calc(100vh - 75px);
  overflow: hidden;
  overflow-y: auto;

}

.scroll-height-100 {

  height: calc(100vh - 100px);
  overflow: hidden;
  overflow-y: auto;

}

.scroll-height-125 {

  height: calc(100vh - 125px);
  overflow: hidden;
  overflow-y: auto;

}

.scroll-height-150 {

  height: calc(100vh - 150px);
  overflow: hidden;
  overflow-y: auto;

}

.scroll-height-175 {

  height: calc(100vh - 175px);
  overflow: hidden;
  overflow-y: auto;

}

.scroll-height-200 {

  height: calc(100vh - 200px);
  overflow: hidden;
  overflow-y: auto;

}

.scroll-height-225 {

  height: calc(100vh - 225px);
  overflow: hidden;
  overflow-y: auto;

}

.scroll-height-250 {

  height: calc(100vh - 250px);
  overflow: hidden;
  overflow-y: auto;

}

.scroll-height-275 {

  height: calc(100vh - 275px);
  overflow: hidden;
  overflow-y: auto;

}

.scroll-height-300 {

  height: calc(100vh - 300px);
  overflow: hidden;
  overflow-y: auto;

}

.scroll-height-325 {

  height: calc(100vh - 325px);
  overflow: hidden;
  overflow-y: auto;

}

.scroll-height-350 {

  height: calc(100vh - 350px);
  overflow: hidden;
  overflow-y: auto;

}

.scroll-height-375 {

  height: calc(100vh - 375px);
  overflow: hidden;
  overflow-y: auto;

}

.scroll-height-400 {
  height: calc(100vh - 400px);
  overflow: hidden;
  overflow-y: auto;

}

.scroll-height-425 {
  height: calc(100vh - 425px);
  overflow: hidden;
  overflow-y: auto;

}

.scroll-height-450 {
  height: calc(100vh - 450px);
  overflow: hidden;
  overflow-y: auto;

}

.scroll-height-475 {
  height: calc(100vh - 475px);
  overflow: hidden;
  overflow-y: auto;

}

.scroll-height-500 {
  height: calc(100vh - 500px);
  overflow: hidden;
  overflow-y: auto;

}

.scroll-height-525 {
  height: calc(100vh - 525px);
  overflow: hidden;
  overflow-y: auto;

}

.scroll-height-550 {
  height: calc(100vh - 550px);
  overflow: hidden;
  overflow-y: auto;

}

.scroll-height-575 {
  height: calc(100vh - 575px);
  overflow: hidden;
  overflow-y: auto;

}

.scroll-height-600 {
  height: calc(100vh - 600px);
  overflow: hidden;
  overflow-y: auto;

}

.scroll-height-650 {
  height: calc(100vh - 650px);
  overflow: hidden;
  overflow-y: auto;

}

.scroll-height-700 {
  height: calc(100vh - 700px);
  overflow: hidden;
  overflow-y: auto;
}

.scroll-height-750 {
  height: calc(100vh - 750px);
  overflow: hidden;
  overflow-y: auto;
}

.scroll-height-800 {
  height: calc(100vh - 800px);
  overflow: hidden;
  overflow-y: auto;
}